---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/format";
import { url } from "../lib/url";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article class="card post-card">
  <div class="card-meta">
    <span>{formatDate(post.data.pubDate)}</span>
  </div>
  <h3>
    <a href={url(`${post.id}/`)}>{post.data.title}</a>
  </h3>
  <p>{post.data.description}</p>
</article>
