---
import { siteConfig } from "../data/site";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<ul class:list={["social-links", className]}>
  {siteConfig.socials.map((social) => (
    <li>
      <a href={social.href} target="_blank" rel="noreferrer">
        {social.label}
      </a>
    </li>
  ))}
</ul>

